# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider / VS Code
.vscode/
.idea/

# Logs
*.log

# NuGet
packages/

# MAUI / Android
*.apk
*.aab

# Windows
Thumbs.db

# Web libraries (ако са генерирани)
wwwroot/lib/
